<main>
  <div class="row">
    <div class="large-12 columns">
      <% if @posts.all.any? %>
          <% @posts.all.each do |post| %>
              <div class="row">
                <div class="large-8 columns">
                  <div class="callout panel">
                    <h4><%= link_to post.title, post_path(post) %></h4>
                    <%= image_tag post.image.url(:large) %>
                    <p><%= post.content %></p>
                    <h5>Comments for <%= post.title %></h5>
                    <% if post.comments.any? %>
                        <ul>
                          <% post.comments.each do |comment| %>
                              <li>
                                <%= comment.thoughts %>
                              </li>
                          <% end %>
                        </ul>
                    <% else %>
                        <p>No comments.</p>

                    <% end %>
                    <span style="display: inline;"> <%= link_to "Add comment", new_post_comment_path(post.id), class: 'button' %>
                      <%= form_tag post_likes_path(post), method: 'post' do %>
                          <%= submit_tag("Like", class: 'button') unless current_user && current_user.has_liked?(post) %>
                      <% end %>
                      <% if current_user && if current_user.has_liked?(post) %>
                        <%= form_tag "posts/#{post.id}/likes/#{get_like_id(post, current_user)}", method: 'delete' do %>
                            <%= submit_tag("Unlike", class: 'button') %>
                        <% end %>
                    <% end %>
                          </span>
                      <% end %>


                      <p>
                        <small>Likes: <%= post.likes.count %> </small>
                      </p>
                    <p>
                      <small>Posted by: <%= post.user.email %> at <%= post.user.created_at %> </small>
                    </p>
                      </div>
                </div>
              </div>
          <% end %>
      <% else %>
          <p>There are no posts in the system.</p>
      <% end %>
    </div>
  </div>
</main>
